<br>
<hr>
<hr>
<hr>
<br>
<footer class="gray-background">
    <div class="page-inner-content footer-content">
        <div class="download-options">
            <p>Baixe a nossa aplicação</p>
            <p>Baixe a nossa aplicação para Android e IOS</p>
            <div>
                <img src="images/app-store.png" alt="" >
                <img src="images/play-store.png" alt="" >
            </div>
        </div>

        <div class="logo-footer">
            <h1 class="logo">Blue<span>Store</span></h1>
            <p>
              Nosso objetivo é ajudar na melhor escolha de compra.
            </p>
        </div>
        <div class="links-footer">
            <h3>Links úteis</h3>
            <ul>
                <li>Cupons</li>
                <li>Blog post</li>
                <li>Políticas</li>
                <li>Torne-se afiliado</li>
            </ul>
        </div>
    </div>

    <hr class="page-inner-content" />

    <div class="page-inner-content copyright">
        <p>Copyright 2023 - Rodrigo Com -Todos Direitos Reservados</p>
    </div>
</footer>
<script src="/js/PaginaInicial.js"></script>
</body>
</html>