<link rel="stylesheet" href="/css/PaginaInicial.css">
    <h2>Os mais acessados!</h2>
<section class="produto">
    <img src="java.png" alt="Java">
    <h3>Java</h3>
    <p>Aprenda Java COMPLETO 2023 </p>
    <p>54,5 horas no total.398 aulas. Todos os níveis</p>
    <p class="preco">R$ 130,00</p>
    <a href="carrinho.html">
        <button type="button">Comprar</button>
    
    </a>
</section>


<section class="produto">
    <img src="java.png" alt="Java">
    <h3>Java</h3>
    <p>Aprenda Java COMPLETO 2023 </p>
    <p>54,5 horas no total.398 aulas. Todos os níveis</p>
    <p class="preco">R$ 130,00</p>
    <a href="carrinho.html">
        <button type="button">Comprar</button>
    
    </a>
</section>